@import './style/common/base.css';
@import '~antd/dist/antd.css';

.app-wrap {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  background: url(./assets/imgs/bg.jfif) no-repeat ;
  background-size: 100% 100%;
}
.main-wrap {
  flex: 1;
  padding: 20px 0;
}
